.bg-gradient-primary {
  background: linear-gradient(to right, #181716, #0f0f0e);
}

.bg-gradient-custom {
  background: linear-gradient(to bottom right, #423253, #1d478f);
  border-radius: 15px;
}

.hover-scale {
  transition: transform 0.2s ease-in-out;
}

.hover-scale:hover {
  transform: scale(1.05);
}

.slider-custom {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  transition: background 0.3s ease;
}

.slider-custom:hover {
  background: #362d25;
}

.slider-custom::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2575fc;
  cursor: pointer;
}

.slider-custom::-webkit-slider-thumb:hover {
  background: #141413;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
    padding: 20px;
  }

  h1 {
    font-size: 1.8rem;
  }

  input[type="text"] {
    font-size: 1rem;
    padding: 10px;
  }

  .btn {
    padding: 10px;
    font-size: 1rem;
  }

  .slider-custom {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .card {
    width: 95%;
    padding: 15px;
  }

  h1 {
    font-size: 1.5rem;
  }

  input[type="text"] {
    font-size: 0.9rem;
  }

  .btn {
    padding: 8px;
    font-size: 0.9rem;
  }
}
